*.npy
*.npz
*.mdl
*.pyc
*.hd5
*.hdf5
*.zip
*.log
*.stderr
.vscode/
code/Desktop/
code/build/
code/devel/
code/install/
code/logs/
code/.cache/
code/.catkin_tools/
code/.config
code/.ros/
code/.rviz/
code/.thumbnails/
code/src/rbx1/.vscode/
code/src/rbx1/rbx1_env/rbx1_env.egg-info/
code/.bash_history
